#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
MAKE = make --directory=Engine --jobs=2

%:
	dh $@ --parallel --buildsystem makefile

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:

override_dh_clean:
	dh_clean --exclude=Editor/*
